<script type="text/javascript">
  $('div').scrollspy({ target: '#list-example' })
</script>

<div class="jumbotron white" style="background-color: red">
  <h1 class="display-4">
    Coming Soon! - Still in development
  </h1>
  <p class="lead">
    &nbsp;
  </p>
  <p>&nbsp;</p>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem; margin-top: -175px; margin-left: 50px;">
      <%= image_tag 'ignite.jpg', class: 'card-img-top', alt: 'Card image cap' %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          About me:
          <br/>
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <!-- <div class="card-body">
      </div> -->
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="white" style="margin-top: -100px;">
        <h1>
          <%= current_user.firstname.present? ? current_user.firstname : "First Name" %>
        </h1>
      </div>
    </div>
    <div class="row">
      <h2>My Bio</h2>
      <div data-spy="scroll" data-target="#list-example" class="bd-example">
        <div class="row">
          <div class="col-4">
            <div id="list-example" class="list-group">
              <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
              <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
              <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
              <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
            </div>
          </div>
          <div class="col-8">
            <div data-offset="0" class="scrollspy-example">
              <h4 id="list-item-1">Item 1</h4>
              <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
              <h4 id="list-item-2">Item 2</h4>
              <p>Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla tempor. Laborum consequat non elit enim exercitation cillum aliqua consequat id aliqua. Esse ex consectetur mollit voluptate est in duis laboris ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse irure. Laborum nisi sit est tempor laborum mollit labore officia laborum excepteur commodo non commodo dolor excepteur commodo. Ipsum fugiat ex est consectetur ipsum commodo tempor sunt in proident.</p>
              <h4 id="list-item-3">Item 3</h4>
              <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
              <h4 id="list-item-4">Item 4</h4>
              <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis. Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
