
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render partial: 'form', locals: {spirit_charge: @spirit_charge, url: spirit_charges_path, method: :post} %>
    </div>
    <div class="col-6">
      <!-- coming soon -->
    </div>
  </div>

</div>
