<div class="snow-bg">
  <div class="row" style="margin-left: 400px;">
    <div class="wrap">
      <section class="stage">
        <figure class="ball">
          <span class="number" data-number="<%= @winner %>">&nbsp;</span>
        </figure>
      </section>      
    </div>
  </div>

  <%= link_to "GO!", christmas_registration_path(winner: true), class: "btn btn-primary" %>
</div>